<phpunit
	bootstrap="tests/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="main">
			<directory prefix="test-" suffix=".php">./tests/phpunit/</directory>
		</testsuite>
	</testsuites>
	<groups>
		<exclude>
			<group>cli_command</group>
		</exclude>
	</groups>
</phpunit>
