version: 2.1
workflows:
  version: 2.1
  main:
    jobs:
      - test-behat
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - test-behat
jobs:
  test-behat:
    resource_class: small
    working_directory: ~/pantheon-systems/wp-native-php-sessions
    parallelism: 1
    docker:
      - image: quay.io/pantheon-public/build-tools-ci:8.x-php8.2
    steps:
      - checkout
      - restore_cache:
          keys:
            - test-behat-dependencies-{{ checksum "composer.json" }}
      - run: composer install -n --prefer-dist
      - save_cache:
          key: test-behat-dependencies-{{ checksum "composer.json" }}
          paths:
            - vendor
      - run: echo $(openssl rand -hex 8) > /tmp/WORDPRESS_ADMIN_PASSWORD
      - run: |
          echo 'export TERMINUS_ENV=ci-$CIRCLE_BUILD_NUM' >> $BASH_ENV
          echo 'export TERMINUS_SITE=wp-native-php-sessions' >> $BASH_ENV
          echo 'export SITE_ENV=wp-native-php-sessions.ci-$CIRCLE_BUILD_NUM' >> $BASH_ENV
          echo 'export WORDPRESS_ADMIN_USERNAME=pantheon' >> $BASH_ENV
          echo 'export WORDPRESS_ADMIN_EMAIL=no-reply@getpantheon.com' >> $BASH_ENV
          echo 'export WORDPRESS_ADMIN_PASSWORD=$(cat /tmp/WORDPRESS_ADMIN_PASSWORD)' >> $BASH_ENV
          source $BASH_ENV
      - run: echo "StrictHostKeyChecking no" >> "$HOME/.ssh/config"
      - run: |
          if [ -z "$GITHUB_TOKEN" ]; then
            echo "GITHUB_TOKEN environment variables missing; assuming unauthenticated build"
            exit 0
          fi
          echo "Setting GitHub OAuth token with suppressed ouput"
          {
            composer config -g github-oauth.github.com $GITHUB_TOKEN
          } &> /dev/null
      - run: |
          if [ -z "$TERMINUS_TOKEN" ]; then
            echo "TERMINUS_TOKEN environment variables missing; assuming unauthenticated build"
            exit 0
          fi
          terminus auth:login --machine-token=$TERMINUS_TOKEN
      - run: ./bin/validate-fixture-version.sh
      - run: ./bin/behat-prepare.sh
      - run: ./bin/behat-test.sh --strict
      - run:
          command: ./bin/behat-cleanup.sh
          when: always

