name: Build, Tag and Release
on:
  push:
    branches:
      - release

permissions:
  pull-requests: write
  contents: write

jobs:
  check-status:
    name: Check Status
    runs-on: ubuntu-latest
    outputs:
      is-plugin-update: ${{ steps.set-outputs.outputs.is-plugin-update }}
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - id: get-changed-files
        uses: jitterbit/get-changed-files@b17fbb00bdc0c0f63fcf166580804b4d2cdc2a42 # v1
      - id: set-outputs
        shell: bash
        run: |
          echo "Changed files: ${{ steps.get-changed-files.outputs.all }}"
          shopt -s nocasematch
          run_plugin_update="false"
          for file in ${{ steps.get-changed-files.outputs.all }}; do
            echo "Checking if file '$file' should trigger a plugin release"
            if [[ "$file" == .github/* ]] || \
               [[ "$file" == .wordpress.org/* ]]; then
                echo "'$file' is inside an ignored directory."
                continue
            fi
            if [[ "$file" != readme.* ]] && \ 
               [[ "$file" != .gitattributes ]] && \
               [[ "$file" != .gitignore ]] && \
               [[ "$file" != catalog-info.yml ]] && \
               [[ "$file" != *composer* ]]; then
                echo "'$file' is not an ignored file."
                run_plugin_update="true"
                break
            fi
          done
          echo "is-plugin-update=${run_plugin_update}" >> $GITHUB_OUTPUT
  asset-only:
    name: WP.org Asset Only Update
    needs: check-status
    if: ${{ needs.check-status.outputs.is-plugin-update == 'false' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: WP.org Asset Only Update
        uses: 10up/action-wordpress-plugin-asset-update@2480306f6f693672726d08b5917ea114cb2825f7 # stable 2025-01-21T21:32:26Z
        env:
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
  tag:
    needs: check-status
    if: ${{ needs.check-status.outputs.is-plugin-update == 'true' }}
    name: Create Tag and Draft Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Build, Tag & Release
        uses: pantheon-systems/plugin-release-actions/build-tag-release@a3839d25efa9d0d4270c088702c2072a2e49edde # main 2025-11-07T23:23:14Z
        with:
          gh_token: ${{ github.token }}
          readme_md: README.md
